In [77]:
#Imports
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import numpy as np
import pandas as pd

In [78]:
#Load the dataset
data = pd.read_csv('https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv', error_bad_lines=False)
data.sample(5)

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
3070,f1_fuel_1996_12_8_0_8,8,1996,harvey couch,gas,mcf,3576760.0,1.150820,2.376,2.376,2.064
1796,f1_fuel_1995_12_147_0_7,147,1995,reeves,gas,mcf,258967.0,1.028479,2.470,2.470,2.403
22281,f1_fuel_2012_12_55_2_7,55,2012,higgins,oil,bbl,481.0,5.812890,98.689,0.000,16.978
7564,f1_fuel_2000_12_120_0_11,120,2000,high bridge,gas,mcf,346894.0,1.019000,4.610,4.530,4.040
24932,f1_fuel_2014_12_74_0_7,74,2014,eagle valley,coal,ton,385192.0,22.560000,64.400,64.774,2.839

### Question 3

Which of the following fuel type code has the lowest average fuel cost per unit burned?

In [16]:

lowest_avg = data.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].mean()
lowest_avg

fuel_type_code_pudl
coal         67.421830
gas          13.659397
nuclear    4955.157002
oil         168.877086
other        18.253856
waste        19.518122
Name: fuel_cost_per_unit_burned, dtype: float64

### Question 4

What is the standard deviation and 75th percentile of the measure of energy per unit (Fuel_mmbtu_per_unit) in two decimal places?

In [18]:
data['fuel_mmbtu_per_unit'].describe().round(2)

count    29523.00
mean         8.49
std         10.60
min          0.00
25%          1.02
50%          5.76
75%         17.01
max        341.26
Name: fuel_mmbtu_per_unit, dtype: float64

### Question 5

What is the skewness and kurtosis for the fuel quantity burned in two decimal places?

In [23]:
skewness = data['fuel_qty_burned'].skew().round(2)
kurtosis = data['fuel_qty_burned'].kurtosis().round(2)

print(f'The skewness is {skewness} and the kurtosis is {kurtosis}.')

The skewness is 15.85 and the kurtosis is 651.37.

### Question 6

Which feature has missing values and what is the total number of missing value and percentage of the missing rows as a factor of the total number of rows in three decimal places?

In [48]:
missing_vals = data.isnull().sum()
missing_vals
percent_missing = (180*100)/len(data)
print(f'Percentage of missing rows: {percent_missing: .3f}%')

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

Percentage of missing rows:  0.610%

### Question 8

Which of the features has the second and third lowest correlation with the Fuel Cost Per Unit Burned?

In [72]:

data.corr()['fuel_cost_per_unit_burned'].round(3)

utility_id_ferc1               -0.038
report_year                     0.014
fuel_qty_burned                -0.019
fuel_mmbtu_per_unit            -0.010
fuel_cost_per_unit_burned       1.000
fuel_cost_per_unit_delivered    0.011
fuel_cost_per_mmbtu            -0.000
Name: fuel_cost_per_unit_burned, dtype: float64

### Question 9

For the fuel type coal, what is the percentage change in the fuel cost per unit burned in 1998 compared to 1994?

In [89]:
coal_94 = data.loc[(data.fuel_type_code_pudl=='coal') & (data.report_year==1994),['fuel_cost_per_unit_burned']]
coal_98 = data.loc[(data.fuel_type_code_pudl=='coal') & (data.report_year==1998),['fuel_cost_per_unit_burned']]

percent_change = ( (coal_98.sum() - coal_94.sum())/abs(coal_94.sum()) ) * 100
percent_change.round()

fuel_cost_per_unit_burned   -21.0
dtype: float64

### Question 10

Which year has the highest average fuel cost per unit delivered?

In [95]:
data.groupby('report_year')['fuel_cost_per_unit_delivered'].mean()

report_year
1994       63.636060
1995       32.735269
1996     9196.705948
1997    11140.197239
1998      287.154420
1999       25.551627
2000      985.362877
2001       60.050396
2002       47.594361
2003       55.663493
2004      139.524275
2005       41.438184
2006       38.657484
2007       43.325023
2008       58.588197
2009      652.694163
2010       91.862105
2011       59.774667
2012       60.994502
2013      172.307591
2014      192.737183
2015      326.535511
2016      103.901761
2017       46.196861
2018      499.269966
Name: fuel_cost_per_unit_delivered, dtype: float64